@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  font-family: "Open Sans", sans-serif !important;
  background: #ebe9e9 !important;
}

.main .sidebar-wrapper {
  height: 100vh !important;
  width: 20%;
  flex: 0 0 20%;
  transition: all 0.3s ease-in-out;
}
.content-wrapper{
  width: 80%;
}
.right-content{
  width: 100%;
  background-color: green !important;
  padding: 90px 50px;
}